body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}

fieldset,
img,
abbr {
	border: 0;
}

address,
caption,
cite,
code,
dfn,
th,
var {
	font-style: normal;
	font-weight: normal;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

ul li {
	list-style: none;
}

caption,
th {
	text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

input,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	outline: none;
}

legend {
	color: #000;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
	display: block;
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
	color: #363636;
	background-color: transparent;
	position: relative;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	font-style: normal;
	font-family: ImagoPro;
}

body:after {
	display: none;
	z-index: 5;
	content: 'Переверни';
	position: fixed;
	bottom: 50vh;
	right: 50vw;
	transform: translate(50%, 50%);
}

* {
	box-sizing: border-box;
}

*::after,
*::before {
	box-sizing: border-box;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	bottom: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

.svg-about {
	display: none;
}

.container {
	max-width: 2340px;
	padding: 0 20px;
	margin: 0 auto;
}

.timer__name {
	font-size: clamp(16px, 10vw, 230px);
	line-height: 1;
	color: #080400;
	background-color: #dbae2e;
	text-transform: uppercase;
	text-align: center;
	padding: 18px 10px;
	padding-bottom: 36px;
	font-weight: 600;
	font-family: "Toyota";
}

.timer__wrap {
	background-color: #593d91;
	padding: 12px 10px;
	padding-bottom: 54px;
}

.timer__holder {
	display: flex;
	justify-content: center;
	align-items: center;
}

.timer__item {
	font-size: clamp(140px, 10vw, 230px);
	line-height: 1;
	color: #dbae2e;
	text-align: center;
	font-weight: 700;
	font-family: Technology;
}

.timer__item:not(:last-child) {
	position: relative;
	padding-right: 40px;
}

.timer__item:not(:last-child):after {
	position: absolute;
	content: ':';
	right: 5px;
	color: #dbae2e;
}

.footer {
	position: relative;
	z-index: 3;
	background-color: #080400;
	padding: 90px 0;
}

.footer__holder {
	max-width: 690px;
	width: 100%;
	position: absolute;
	z-index: 4;
	top: -48px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #080400;
}

.footer__text {
	display: none;
	font-size: 43px;
	color: #dbae2e;
	letter-spacing: 0.07px;
	text-transform: uppercase;
	text-align: center;
	padding-top: 15px;
	font-weight: normal;
	font-family: "ToyotaTypeBook";
}

.footer__text--active {
	display: block;
}

.footer__wrap {
	display: grid;
	grid-template-columns: 1fr min-content 1fr;
}

.footer__wrap:before {
	content: ' ';
}

.footer__btn {
	display: none;
	max-width: 304px;
	width: 100%;
	font-size: 55px;
	color: #593d91;
	background-color: #dbad2d;
	border: none;
	border-radius: 10px;
	outline: none;
	padding: 16px 12px;
	letter-spacing: -0.03px;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	font-family: "ToyotaTypeBook";
}

.footer__btn--active {
	display: block;
}

.footer__elem {
	justify-self: end;
	display: block;
	width: 100px;
	height: 110px;
	border: none;
	outline: none;
}

.info {
	background-color: #080400;
}

.info__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 58px;
	padding-bottom: 64px;
}

.info__elem img,
.info__icon img {
	display: block;
	width: 100%;
}

.info__elem {
	max-width: 408px;
}

.info__logo {
	max-width: 177px;
}

.table {
	background-color: #593d91;
}

.table__wrap table {
	width: 100%;
}

.table__wrap thead {
	display: block;
}

.table__wrap tbody {
	display: block;
	background-color: #fff;
	border-radius: 10px;
}

.table__wrap th,
.table__wrap td {
	text-align: left;
}

.table__wrap th {
	font-size: 43px;
}

.table__wrap td {
	font-size: 38px;
	font-weight: normal;
	font-family: "ToyotaTypeBook";
}

.table__wrap thead th:first-child,
.table__wrap thead td:first-child,
.table__wrap tbody th:first-child,
.table__wrap tbody td:first-child {
	padding-left: 116px;
	padding-right: 100px;
}

.select__wrap {
	position: relative;
	z-index: 9;
	width: 100%;
}

.select__wrap:after {
	position: absolute;
	top: calc(50% - 8px);
	right: 12px;
	content: '';
	width: 12px;
	height: 12px;
	border-left: 3px solid #363636;
	border-bottom: 3px solid #363636;
	transform: rotate(-45deg);
	pointer-events: none;
	cursor: pointer;
}

.select__wrap .select__placeholder {
	border-radius: 8px;
	border: 1px solid #DBDBDB;
}

.select__wrap .select__list {
	border-radius: 0 0 8px 8px;
	border-color: #DBDBDB;
	border-style: solid;
	border-width: 0 1px 1px 1px;
}

.select__wrap.select__wrap--active .select__placeholder {
	border-radius: 8px 8px 0 0;
}

.select__wrap.select__wrap--position-top.select__wrap--active .select__placeholder {
	border-radius: 0 0 8px 8px;
}

.select__wrap.select__wrap--position-top .select__list {
	border-radius: 8px 8px 0 0;
	border-width: 1px 1px 0 1px;
}

.select__wrap--panel {
	display: none;
	max-width: 550px;
	margin: 0 auto;
}

.select__wrap--active:after {
	top: calc(50% - 1px);
	transform: rotate(135deg);
}

.select__wrap--active .select__list {
	opacity: 1;
	visibility: visible;
	user-select: auto;
	max-height: 250px;
	transition: max-height 0.2s ease-out;
}

.select__wrap--start-active .select__list {
	overflow-y: hidden;
	max-height: 0px;
}

.select__wrap--end-active .select__list {
	overflow-y: auto;
}

.select__wrap--position-top .select__list {
	top: initial;
	bottom: 100%;
}

.select__wrap--disabled:after {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

.select__wrap--product .select__placeholder,
.select__wrap--region .select__placeholder {
	font-size: 1.5rem;
	background-image: none;
	padding: 21px 30px;
	padding-left: 18px;
}

.select__wrap--product:after,
.select__wrap--region:after {
	width: 16px;
	height: 16px;
	right: 24px;
	border-width: 4px;
}

.select__wrap--product .select__item,
.select__wrap--region .select__item {
	padding: 0px;
	display: block;
	width: 100%;
	font-size: 1.5rem;
	color: #363636;
	padding: 20px 24px;
	font-family: ImagoProItalic;
	font-weight: normal;
}

.select__wrap--product .select__list li:not(:last-child),
.select__wrap--region .select__list li:not(:last-child) {
	border-bottom: 2px solid #dbdbdb;
}

.select__wrap--product .select__list,
.select__wrap--region .select__list {
	max-height: 265px;
}

.select__wrap--region {
	display: none;
}

.select__wrap--single {
	display: none;
	max-width: 500px;
	margin: 0 auto;
}

.select__wrap--single .select__item {
	position: relative;
	padding-left: 40px;
	padding-right: 36px;
}

.select__wrap--single .select__item--active {
	background-color: #e7e7e7;
	color: #363636;
}

.select__wrap--single .select__placeholder {
	background-size: auto;
	background-size: 20px 13px;
	background-position: left 8px center;
	background-image: url(../img/icons/tabs/eyes.svg);
}

.select__placeholder {
	background-image: url(../img/icons/panel_icon.svg);
	background-repeat: no-repeat;
	background-position: left 12px center;
	background-size: 15px;
	font-size: 1rem;
	line-height: 1;
	color: #363636;
	background-color: #fff;
	padding: 6px 30px 6px 13px;
	padding-left: 40px;
	line-height: 24px;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre;
	font-family: ImagoProItalic;
	font-weight: normal;
}

.select__placeholder.select__item--loader:before {
	right: 40px;
}

.select__list {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	max-height: 250px;
	overflow: hidden;
	background-color: #fff;
	margin: 0;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
	transition: visibility 0.3s, opacity 0.3s;
	user-select: none;
}

.select__item,
.select__item-search,
.select__item-search-not-found {
	font-size: 0.875rem;
	color: #363636;
	padding: 7px 12px;
	line-height: 24px;
}

.select__item:hover,
.select__item-search:hover,
.select__item-search-not-found:hover {
	background-color: #e7e7e7;
	color: #363636;
}

.select__item {
	display: block;
	user-select: none;
	cursor: pointer;
	transition: 0.3s background-color, 0.3s color;
}

.select__item--active {
	background-color: #e6e7e7;
	color: #363636;
}

.select__item--active:hover {
	background-color: #e6e7e7;
	color: #363636;
}

.select__item--disabled {
	text-decoration: line-through;
	background-color: #dddddd;
	color: #a3a3a3;
	user-select: none;
}

.select__item--disabled:hover {
	background-color: #dddddd;
}

.single .select__item--desc,
.single .select__item--details,
.single .select__item--management,
.single .select__item--video,
.single .select__item--add,
.single .select__placeholder--desc,
.single .select__placeholder--details,
.single .select__placeholder--management,
.single .select__placeholder--video,
.single .select__placeholder--add {
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: left 10px center;
}

.single .select__item--desc,
.single .select__placeholder--desc {
	background-size: 20px 13px;
	background-position: left 8px center;
	background-image: url(../img/icons/tabs/eyes.svg);
}

.single .select__item--details,
.single .select__placeholder--details {
	background-size: 13px 20px;
	background-position: left 12px center;
	background-image: url(../img/icons/tabs/details.svg);
}

.single .select__item--management,
.single .select__placeholder--management {
	background-image: url(../img/icons/tabs/info.svg);
}

.single .select__item--video,
.single .select__placeholder--video {
	background-image: url(../img/icons/tabs/play.svg);
}

.single .select__item--add,
.single .select__placeholder--add {
	background-image: url(../img/icons/tabs/plus.svg);
}

@media (orientation: portrait) {

body:after {
	display: block;
}

body:before {
	position: absolute;
	z-index: 4;
	content: ' ';
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: #fff;
}

}

@media screen and (max-width: 1023px) {

.select__wrap--panel {
	display: block;
}

.select__wrap--single {
	display: block;
}

}

@media screen and (max-width: 767px) {

.select__wrap--product .select__placeholder,
.select__wrap--region .select__placeholder {
	font-size: 1rem;
	padding: 6px 30px 6px 8px;
}

.select__wrap--product:after,
.select__wrap--region:after {
	right: 12px;
	width: 12px;
	height: 12px;
	border-width: 3px;
}

.select__wrap--product .select__item,
.select__wrap--region .select__item {
	font-size: 1rem;
	padding: 6px 30px 6px 8px;
}

.select__wrap--region {
	display: block;
	max-width: 550px;
	width: 100%;
	margin: 0 auto;
}

}

